doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css',
   integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh', crossorigin='anonymous')
  title Create

.container
    .wapper
        h1(class="text-center", style="padding-top: 3rem") Create User

        if error
            .form-group(class="d-flex", style="justify-content: center")
                .alert.alert-danger(class="w-75")= error

        form(action="/users/create", method="post", style="padding-top: 2rem", enctype="multipart/form-data")
            .form-group(class="d-flex", style="justify-content: center")
                label(for="name", style="padding: .4rem 2rem 0 0rem; margin-right: 1rem") Name: 
                input(name="name" type="text", class="form-control", style="width: 45%", value=values ? values.name : "")
                
            .form-group(class="d-flex", style="justify-content: center; padding-top: 1.5rem")
                label(for="phone", style="padding: .4rem 2rem 0 0rem; margin-right: 1rem") Phone: 
                input(name="phone" type="text", class="form-control", style="width: 45%", value=values ? values.phone : "")

            .form-group(class="d-flex", style="justify-content: center; padding-top: 1.5rem")
                label(for="email", style="padding: .4rem 2.3rem 0 0rem; margin-right: 1rem") Email: 
                input(name="email" type="text", class="form-control", style="width: 45%", value=values ? values.email : "")

            .form-group(class="d-flex", style="justify-content: center; padding-top: 1.5rem")
                label(for="password", style="padding: .4rem .7rem 0 0rem; margin-right: 1rem") Password: 
                input(name="password" type="password", class="form-control", style="width: 45%", value=values ? values.password: "")

            .form-group(class="d-flex", style="justify-content: center; padding-top: 1.5rem")
                label(for="avatar", style="padding: .4rem .7rem 0 0rem; margin-right: 1rem") Avatar: 
                input(name="avatar" type="file")

            .form-group(class="d-flex", style="justify-content: center; padding-top: 2rem")
                button(type="submit", class="btn btn-primary d-flex") Create